* {
    /* font-family: "Lancelot", cursive; */
    font-family: "Raleway", sans-serif;
    letter-spacing: 1px;
    /* overflow: hidden; */
}

form {
    margin-bottom: 30px;
    text-align: center;
}

.image-div {
    display: inline-block;
    border: 2px solid white;
    /* text-align: center; */
    position: relative;
}

img {
    width: 350px;
    height: 350px;
    object-fit: cover;
}

#item-text {
    position: absolute;
    bottom: 5px;
    background-color: black;
    opacity: 0.6;
    width: 100%;
}

#image-title {
    /* color: black; */
    color: white;
    text-align: center;
    font-weight: bolder;
    white-space: pre-wrap;
    font-size: 12px;
}

input[type="file"] {
    opacity: 0.6;
}

/* INTRO PAGE */

/* POTENTIAL DESIGN */
#intro {
    position: absolute;
    z-index: 20;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 1);
}

#intro-info {
    position: relative;
    text-align: center;
    color: white;
    top: 30%;
}

#intro-button-div {
    display: flex;
    justify-content: center;
}

#intro-name {
    display: block;
    font-size: 60px;
    transition: 2s ease;
}

#enter-button {
    position: absolute;
    display: block;
    margin: auto;
    width: 50px;
    height: 20px;
    cursor: crosshair;
    color: inherit;
    background: none !important;
    padding: 0 !important;
    border: none;
    border-bottom: 1px solid #444;
    font-size: 15px;
    z-index: 50;
}

#enter-button:hover,
#enter-button:focus {
    transition: 1s ease;
    font-size: 19px;
    width: 80px;
    outline: 0;
}

/* HEADER  */

header {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

#title {
    font-size: 25px;
    font-weight: bold;
}

#uploadText {
    float: right;
    font-size: 25px;
}

#uploadText:hover {
    font-weight: bold;
    cursor: crosshair;
    color: magenta;
}

/* POTENTIAL UPLOAD BAR */

.empty {
    position: absolute;
    height: 100%;
    width: 100%;
}

.cross {
    height: 25px;
    width: 25px;
    float: right;
    padding-right: 20%;
    margin-top: 10px;
}

.side-bar {
    position: fixed;
    height: 15%;
    width: 20%;
    left: 100%;
    top: 0;
    z-index: 2;
    background-color: white;
    transition: 2s;
    font-size: 25px;
    padding-left: 30px;
    border-bottom: 1px solid black;
}

#side-input,
#side-input:hover {
    outline: 0;
    font-weight: bolder;
}

#side-upload {
    display: block;
    margin-top: 10px;
}

#side-upload:hover {
    cursor: crosshair;
    background-color: black;
    color: white;
}

.appear {
    position: fixed;
    left: 80%;
}

/* POTENTIAL DESIGN*/

/* MODAL */
#modal {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    width: 30%;
    z-index: 10;
    transform: translate(-50%, -50%);
    background-color: white;
    transition: 2s ease;
    background-color: black;
    color: white;
    padding-top: 10px;
}

#img-in-modal {
    display: block;
    margin: auto;
    cursor: pointer;
    padding-top: 10px;
}

#text-in-modal {
    text-align: center;
}

#hr-in-modal {
    color: white;
    width: 70%;
}

#more-button {
    cursor: crosshair;
}

#commentsInModal {
    display: flex;
}

#comment-in-modal {
    display: inline-block;
    width: 50%;
    text-align: center;
}

#modaluser-in-comment {
    display: inline-block;
    width: 50%;
    text-align: center;
}

/* --------------- */

.fade-enter-active,
.fade-leave-active {
    transition: 0.8s;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}
